* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  transition: ease all .3s;
}

header {
  align-items: center;
  background-color: #FF3B3F;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: center;
}

.title{
  font-size: 300%;
  font-weight: bold;
}

.welcome-msg {
  font-size: 185%;
}

.inline-records {
  display: flex;
  flex-direction: row;
}

h4 {
  margin-right: 5px;
}

p,
h4 {
  color: #565656;
}

h3 {
  color: #FF3B3F;
  font-size: 20px;
  font-weight: 700;
}

.daily_section {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px;
}

.info_block {
  background-color: #CAEBF2;
  border-radius: 3px;
  border: solid 2px #A9A9A9;
  margin: 10px;
  padding: 5px;
}

.user_info {
  align-self: center;
  text-align: center;
  width: 60%;
}

.user_info_headings {
  font-size: 20px;
  margin-top: 3px;
}

.user_info_text {
  font-size: 18px;
  font-weight: 500;
}

.water_info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.water_drop_img {
  height: 115px;
  width: 115px;
}

.daily_water_intake > p {
  color: #FF3B3F;
  font-size: 220%;
  font-weight: 600;
}

.daily_water_intake {
  align-self: center;
  text-align: center;
}

.weekly_water_info > h3 {
  font-size: 190%;
  margin-bottom: 10px;
}

.weekly_water_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -5px;
  padding: 15px;
  text-align: center;
}

.week_by_day {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 115%;
  justify-content: space-evenly;
}

.second_half_week {
  margin-left: 30px;
}

.sleep_info {
  padding: 20px;
}

.latest_night_sleep {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sleep_qual > h3,
.sleep_hrs > h3 {
  font-size: 190%;
}

.sleep_qual > p,
.sleep_hrs > p {
  font-size: 200%;
  font-weight: 600;
}

.sleep_qual,
.sleep_hrs {
  flex-direction: column;
  text-align: center;
}

.pillow_img {
  height: 280px;
  width: 280px;
}

.avg_sleep {
  margin-bottom: 30px;
  text-align: center;
}

.avg_sleep > h3 {
  font-size: 190%;
}

.avg_sleep > p {
  font-size: 160%;
  font-weight: 600;
}

.weekly_sleep_info {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.latest_night_sleep {
  margin-bottom: 0px;
}

.weekly_sleep_info > h3 {
  font-size: 185%
}

.all_sleep_days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.single_day_sleep {
  margin: 10px;
}

.sleep_divider {
  color: #FF3B3F;
  font-weight: 700;
  padding: 5px;
}

.activity_block {
  padding: 20px;
}

.steps_activity_info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.steps {
  text-align: center;
}

.shoe_img {
  height: 155px;
  width: 165px;
}

.activity_img {
  height: 130px;
  width: 130px;
}

.steps > p {
  font-size: 180%;
  font-weight: 600;
}

.activity > p {
  font-size: 140%;
  font-weight: 600;
  text-align: center;
}

.report_and_compare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 30px;
}

.weekly_report > h3,
.activity_comparison > h3 {
  font-size: 180%;
  margin-bottom: 10px;
}

.reports {
  font-size: 115%;
}

@media screen and (max-width: 860px) {

  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .title {
    font-size: 210%;
  }
  
  .welcome-msg {
    font-size: 156%;
    font-weight: 500;
    padding: 10px;
  }

  .user_info {
    padding: 15px;
    width: 96%;
  }

  .water_info {
    flex-direction: column;
  }

  .daily_water_intake {
    margin-bottom: 15px;
  }

  .sleep_info {
    align-content: space-around;
  }

  .sleep_qual > p,
  .sleep_hrs > p {
    margin-top: 15px;
  }

  .latest_night_sleep {
    height: 225px;
  }

  .all_sleep_days {
    flex-wrap: wrap;
  }

  .avg_sleep {
    height: 82px;
  }

  .sleep_qual > h3,
  .sleep_hrs > h3 {
    font-size: 167%;
  }

  .sleep_qual > p,
  .sleep_hrs > p {
    font-size: 167%;
  }

  .latest_night_sleep {
    height: 160px;
  }

  .pillow_img {
    height: 200px;
    width: 200px;
  }

  .avg_sleep > h3,
  .weekly_sleep_info > h3 {
    font-size: 170%;
  }

  .steps_activity_info {
    justify-content: space-around;
    height: 175px;
  }

  .report_and_compare {
    align-items: center;
    flex-direction: column;
  }

  .weekly_report,
  .activity_comparison {
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {

  .daily_section {
    text-align: center;
  }

  .user_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 125%;
  }

  .user_info > h3 {
    font-size: 115%;
  }

  .user_info > p {
    font-size: 100%;
  }

  .water_info,
  .sleep_info,
  .activity_block {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 125%;
  }

  .daily_water_intake {
    margin-bottom: 15px;
  }

  .daily_water_intake > p {
    font-size: 170%;
  }

  .water_drop_img {
    height: 90px;
    height: 90px;
  }

  .weekly_water_info {
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .week_by_day {
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
  }

  .second_half_week {
    margin-left: 0;
  }

  .weekly_water_info > h3 {
    font-size: 121%;
  }

  .weekly_water_info > p {
    font-size: 14px;
  }

  .sleep_qual > h3,
  .sleep_hrs > h3 {
    font-size: 117%;
  }

  .sleep_qual > p,
  .sleep_hrs > p {
    font-size: 117%;
  }

  .pillow_img {
    height: 250px;
    width: 150px;
  }

  .avg_sleep > p,
  .avg_sleep > h3,
  .weekly_sleep_info > h3 {
    font-size: 119%;
  }

  .avg_sleep {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .all_sleep_days {
    flex-wrap: wrap;
    font-size: 90%;
  }

  .steps_activity_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
  }

  .activity > p,
  .steps > p {
    font-size: 105%;
  }

  .activity_img,
  .shoe_img {
    height: 100px;
    width: 100px;
  }

  .steps {
    margin-right: 30px;
  }

  .activity {
    margin-left: 30px;
  }

  .activity_comparison > h3,
  .weekly_report > h3 {
    font-size: 127%;
  }

  .activity_comparison > .inline-records,
  .weekly_report > .inline-records {
    font-size: 77%;
  }

  .activity_comparison {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

}
